@charset "UTF-8";
/*
  1. より直感的なボックスサイズのモデルを使用
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. デフォルトのマージンを削除
*/
* {
  margin: 0;
}

/*
  3. 高さは%ベースを使用
*/
/*
  タイポグラフィの微調整
  4. アクセシブルなline-heightを追加
  5. テキストのレンダリングを改善
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. メディア要素のデフォルトを改善
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. フォームのfontに関するデフォルトを削除
*/
button {
  font: inherit;
}

/*
  8. テキストのオーバーフローを回避
*/
p, h1, h2, h3, h4, h5, h6, ul, ol {
  overflow-wrap: break-word;
}

/*
  9. ルートのスタックコンテキストを作成
*/
#root, #__next {
  isolation: isolate;
}

#section_demo_inner {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.marker-under {
  background: linear-gradient(transparent 60%, #ffff66 60%);
}

div#demo_info {
  flex: 0 1 380px;
  padding-left: 8px;
}
div#demo_info #demo_info_inner {
  width: 380px;
  height: 100%;
  position: fixed;
  top: 50px;
}
div#demo_info li {
  margin: 10px 0;
}
div#demo_info li:first-of-type {
  margin-top: 0;
}
div#demo_info span.shortcut {
  border: 2px solid #555;
  border-radius: 5px;
  background: #ddd;
  padding: 1px 2px;
  margin: 3px 2px;
  margin-left: 10px;
}

#demo_toc {
  border: 1px dashed #777;
  padding: 5px;
}
#demo_toc ol {
  font-size: 13.6px;
  margin: 0;
  padding: 0;
}
#demo_toc li {
  list-style: none;
  white-space: pre-wrap;
  line-height: 1.08em;
  cursor: pointer;
}
#demo_toc li.toc_h1 {
  color: crimson;
}
#demo_toc li.toc_h1::after {
  content: "：誤って本文に見出しh1が挿入されています！";
}
#demo_toc li.toc_h2, #demo_toc li.toc_h1 {
  font-weight: bold;
}
#demo_toc li.toc_h3 {
  padding-left: 10px;
}
#demo_toc li.toc_h4 {
  padding-left: 20px;
}
#demo_toc li.toc_h5 {
  padding-left: 30px;
}
#demo_toc li.toc_h6 {
  padding-left: 40px;
}
#demo_toc li.toc_h4, #demo_toc li.toc_h5, #demo_toc li.toc_h6 {
  font-size: 13.3px;
}
#demo_toc li:hover {
  opacity: 0.65;
}

/* 820 + 380 = 1200 */
@media (max-width: 1200px) {
  div#demo_info #demo_info_inner {
    position: relative;
    top: initial;
  }
}
div#demo {
  counter-reset: tableNumber 0;
}
div#demo table {
  margin: 40px auto 15px;
  min-width: 90%;
  cursor: nwse-resize;
  position: relative;
  counter-increment: tableNumber 1;
}
div#demo table::before {
  display: block;
  position: absolute;
  top: -1.6em;
  content: counter(tableNumber) " 個目の表";
}
div#demo table, div#demo th, div#demo td {
  border-collapse: collapse;
  border: 1px solid #222;
}
div#demo thead {
  background: rgba(255, 165, 0, 0.6);
  font-weight: normal;
  border-bottom: 3px solid;
}
div#demo th {
  font-weight: bold !important;
  text-align: center;
}
div#demo tbody th {
  background: rgba(255, 165, 0, 0.2);
}

#section_demo strong, #section_demo span.pseudo_strong {
  border: 1px dashed red;
}
#section_demo p, #section_demo span.pseudo_p {
  border: 1px dotted royalblue;
}

#demo {
  padding: 10px;
  max-width: 820px;
}
#demo strong {
  cursor: pointer;
}
#demo .has-text-align-right {
  text-align: right;
}
#demo .has-text-align-center {
  text-align: center;
}
#demo a {
  color: #287AA3;
}
#demo a[target=_blank][rel="noreferrer noopener"]::after {
  content: "\f08e";
}
#demo h2 {
  font-size: 28px;
  line-height: 1.4em;
  letter-spacing: 0.05em;
  padding: 0;
  padding-bottom: 15px;
  box-sizing: border-box;
  margin: 30px 0 15px;
  border: none;
  position: relative;
}
#demo h2::after {
  content: "";
  width: 100%;
  height: 7px;
  background: #f9c801;
  position: absolute;
  bottom: 0;
  left: 0;
}
#demo h3 {
  font-size: 24px;
  line-height: 1.4em;
  font-weight: 500;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  padding-left: 20px;
  border: none;
  border-left: 7px solid #f9c801;
}
#demo p {
  cursor: ew-resize;
  margin: 12px 0;
  padding: 2px 1px;
}
#demo p.has-text-align-right {
  border: 1px dashed royalblue;
  position: relative;
}
#demo p.has-text-align-right::before {
  position: absolute;
  left: -10px;
  top: -10px;
  display: inline-block;
  background-color: rgba(150, 255, 255, 0.45);
  font-size: 12px;
  content: "▶右寄せ";
}

#demo .wp-block-image::before {
  display: block;
  content: attr(title);
}
#demo .wp-block-image.warning::before {
  color: crimson;
  font-weight: bold;
}

div.demoImgOnError {
  height: 450px;
  width: 100%;
  background: #fff;
  border: 1px solid #444;
  position: relative;
}
div.demoImgOnError::before {
  padding: 5px;
  white-space: pre-wrap;
  position: absolute;
  content: '記事ではここに画像が表示されます。\a\a- 画像URL -\a"' attr(data-src) '"\a\a- 代替タグ -\a"' attr(data-alt) '"';
}

/* 原稿編集とデモ以外のsectionの設定 */
section:not(#section_edit):not(#section_demo) {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

*::after, *::before {
  font-family: "FontAwesome";
}

#nav_changetabs {
  position: fixed;
  background: #eee;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 2px 2px 0;
  height: 41px;
  border-bottom: 1px solid #888;
}

#nav_changetabs button {
  display: inline-block;
  height: 38px;
  min-width: 6em;
  margin: 0;
  border-radius: 0;
  border: 1px solid #888;
  border-bottom: none;
  font-size: 15.4px;
  font-weight: bold;
  color: #333;
}
#nav_changetabs button.btn_show {
  color: #111;
  background-color: #fff;
  opacity: 1;
  border-color: #333;
}
#nav_changetabs button:not(.btn_show) {
  background-color: #ccc;
}

#nav_settings {
  position: fixed;
  z-index: 999;
  top: 5px;
  right: 12px;
}

#nav_settings_icon {
  font-size: 28px;
  cursor: pointer;
}
#nav_settings_icon:hover {
  opacity: 0.85;
}

#nav_settings_overlay {
  display: none;
}
#nav_settings_overlay label {
  display: block;
  padding-left: 15px;
}
#nav_settings_overlay label + p, #nav_settings_overlay button {
  margin-top: 10px;
}

#nav_settings_icon.open_settings + #nav_settings_overlay {
  position: absolute;
  top: 10px;
  right: 30px;
  display: block;
  width: 700px;
  max-width: calc(100vw - 40px);
  height: 500px;
  max-height: calc(100vh - 20px);
  padding: 10px;
  background: #f7f7f7;
  border: 2px solid #555;
  border-radius: 10px;
}
#nav_settings_icon.open_settings + #nav_settings_overlay p {
  text-decoration: underline;
}

section {
  margin-top: 50px;
}

.flex {
  display: flex;
}
.flex.textareas {
  width: 99%;
}
.flex.textareas div {
  flex: 1;
  margin: 0 4px;
}

body {
  background: #e5e5e5;
  margin: 0;
  position: relative;
}

hr {
  margin: 0 0 5px;
}

textarea {
  margin: 2px 5px;
  width: 100%;
  min-height: 80vh;
}

span.area {
  margin-right: 15px;
}

.bold {
  font-weight: bold;
}

.tac {
  text-align: center;
}

span#scopeRadios.invalid {
  opacity: 0.35;
}

div label {
  display: inline-block;
}

textarea {
  background: #111;
  color: #fff;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
}

.lime {
  color: lime;
}

button, label {
  cursor: pointer;
}

p.area button {
  margin: 0 8px;
}

#section_edit button {
  background: whitesmoke;
  border: 3px solid #777;
  border-radius: 18px/50%;
  height: 36px;
  min-width: 110px;
  opacity: 0.85;
}
#section_edit button:hover, #section_edit button:active {
  opacity: initial;
  border-color: #444;
}
#section_edit button::before {
  font-weight: normal;
  margin-right: 5px;
  font-size: 0.9em;
}
#section_edit button#runBtn::before {
  content: "\f1b8";
}
#section_edit button#copyBtn {
  cursor: copy;
}
#section_edit button#copyBtn::before {
  content: "\f0c5";
}
#section_edit button#copyBtn.copied {
  background: rgba(180, 251, 180, 0.15);
}
#section_edit button#copyBtn.copied::before {
  content: "\f00c";
  color: rgb(9, 235, 9);
  font-weight: bold;
}

#output.copied {
  border-color: lime;
}

#output.outputting {
  animation: opc 0.6s;
}

@keyframes opc {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */